.mega-dropdown {
  position: static !important;
}
.mega-dropdown a{
    color: #00a3e3;
    font-size: 15px;
  padding: 40px 15px !important;
  margin: 0px 2px;
  color: #001277;
}
.mega-dropdown a:focus, .mega-dropdown a:hover{
  background-color: #00a3e3!important;
  color: #fff;
}

.mega-dropdown a .icon-sub{
  display: none;
}

.mega-dropdown a .icon-sub img{
  display: block !important;
  width: 8px;
  margin: 0 8px;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
  background-color: rgba(255, 255, 255,0.5);
  border-color: #337ab7;
}

.mega-dropdown-menu {
  padding: 20px 0px;
  width: 100%;
  box-shadow: none;
  -webkit-box-shadow: none;
  background-color: rgba(255, 255, 255,0.9);
}
.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}
.mega-dropdown-menu > li > ul > li {
  list-style: none;
}
.mega-dropdown-menu > li > a {
  display: block;
  color: #7a879d;
  padding: 3px !important;
  font-size: 14px;
}

.mega-dropdown-menu .dropdown-header {
  font-size: 18px;
  color: #ff3546;
  padding: 5px 60px 5px 5px;
  line-height: 30px;
}
.icon-menu{
  width: 20px;
  margin-right: 5px;
}
.mobil{
  display: none;
}
.emplmobil{
  display: none;
}
/*styles for mobile ==============================================Estilos todos======0=0*/

@media (max-width: 767px) {
  body{
    padding: 60px 0;
  }
  .mobil{
    display: block;
  }
  .pc {
  display: none;
}
  .boxup{
    display: block;
    padding: 10px 0 5px;
    background-color: #023fa0;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10000;
  }
.icono-foot-mobil{
  color: #fff;
  font-size: 40px;
}
  .bar {
    display: inline-block;
    float: none;
    padding: 0;
    margin: 20px 0 5px 10px;
  }

  .bar span{
    background-color: #001278;
  }
  .emplmobil{
    font-size: 25px;
    color: #fff;
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
  }
  /* icono cerrar */
  .menu-toggle {
    height: 20px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    margin: -1px 0 0;
    width: 25px;
  }
  .menu-toggle:hover {
    color: #999;
  }
  .menu-toggle i,
  .menu-toggle i:after,
  .menu-toggle i:before {
    display: block;
    position: absolute;
    height: 3px;
    width: 25px;
    right: 0;
    background: #fff;
    border-radius: 2px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  .menu-toggle i:after,
  .menu-toggle i:before {
    content: '';
  }
  .menu-toggle i:after {
    top: -16px;
  }
  .menu-toggle i:before {
    top: -8px;
  }
  .menu-toggle i {
    top: 16px;
  }
  .menu-toggle.open i:after {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -10px;
  }
  .menu-toggle.open i:before {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: -10px;
  }
  .navbar{
    background-image: none;
    background-color: #003da3;
    position: fixed;
    top: 0;
    z-index: 999999;
    width: 100%;
    padding: 5px 0;
  }
  #trBuscar{
    margin:-1px 5px;
  }
  .busca2{
    display: block;
    text-align: center;
    background-color: transparent;
    outline: none;
    border: none;
    text-align: center;
    font-size: 1.2rem;
    cursor: pointer;
    color: #fff;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    padding: 5px 0;
    background: #00b5fa;
    background: -moz-linear-gradient(left, #00b5fa 0%, #0089ff 100%);
    background: -webkit-linear-gradient(left, #00b5fa 0%,#0089ff 100%);
    background: linear-gradient(to right, #00b5fa 0%,#0089ff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b5fa', endColorstr='#0089ff',GradientType=1 );
  }

  .logo {
    display: block;
    margin: 5px auto 5px !important;
    width: 130px;
  }
  .bolsa2{
    width: 23px;
    display: block;
    position: relative;
    margin-left: 29%; 
  }
  .bolsa2 span {
    display: block;
    font-size: 9px;
    position: absolute;
    top: -8px;
    right: -8px;
    background: red;
    width: 16px;
    height: 16px;
    overflow: hidden;
    border-radius: 50%;
    padding: 8px 0;
    text-align: center;
    line-height: 0;
    color: #fff;
}
  .buscador {
    background: #db0715;
    background: -moz-linear-gradient(left, #db0715 0%, #ffd800 100%);
    background: -webkit-linear-gradient(left, #db0715 0%,#ffd800 100%);
    background: linear-gradient(to right, #db0715 0%,#ffd800 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#db0715', endColorstr='#ffd800',GradientType=1 );
    padding: 2px;
    border-radius: 20px;
    position: relative;
    margin: 16px auto;
    width: 90%;
  }

  .buscador input {
    width: 100%;
    font-size: 12px;
    padding: 7px 15px 5px 35px;
    border-radius: 20px;
    border: 0;
    outline: none;
  }
  .buscador input:hover, #search-form input:focus {
    outline: none;
  }
  .lupa-izd{
    top: 3px;
    left: 3px;
  }

.menucar {
  display: inline-block;
  margin: 20px 0 5px;
}

.mega-dropdown {
      background-color: #fff;
    }
  .mega-dropdown a{
    padding: 20px !important;
    color: #00a3e3;
  }

  .mega-dropdown a .icon-sub{
    display: inline-block;
    float: right;
    color: #CCCCCC;
  }
  .mega-dropdown a:focus .icon-sub{
   transform: rotate(180deg);
 }

 .mega-dropdown-menu {
  padding: 0 !important;
  overflow: scroll;
}
.sin{
  padding: 0 !important;
}
.mega-dropdown-menu li ul{
  margin: 0 !important;
}
.mega-dropdown-menu li ul li {
 border-bottom: 1px solid #001278;
 width: 100%;
 padding: 13px;
}
.mega-dropdown-menu li a{
  margin: 0 auto;
  width: 80%;
  display: block;
  border-top:0;
  padding: 10px !important;
}

.mega-dropdown-menu li a .icon-menu{
  display: none;
}
.color-mobil{
  color: #013b84!important;
  font-weight: bold;
}
.mega-dropdown a br{
  display: none;
}
/*
.slide .imgpc{
  display: none !important;
}
.slide .imgmobil {
  display: block !important;
  width: auto;
}
.bannerhome{
  margin-top: 10px;
}

.titu-mobil{
  margin: 30px 0 10px;
}
#tienda, #tienda2 {
  display: none;
}
#tienda-mobil {
  display: block;
}
.products .indic{
  bottom: -35px;
}
.products .indic li{
  background-color: #CCCCCC;
}
.products .indic .active{
  background-color: #BA007C;
}
.products .marg{
 bottom: -50px;
}
.tmob {
  display: block;
}
#consejos-1 {
  display: none;
}
#conmobil{
  display: block;
}

.actve-scroll{
  /*border:1px solid red;
}
*/
}

