@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

body{
	font-family: 'Nunito', sans-serif;
}

a:link{
	text-decoration:none;
}
ul{
  list-style: none;
}
.sinespa{
  margin: 0;
  padding: 0;
}
.btn-primary{
background: #0084ea;
    background: -moz-linear-gradient(left, #0084ea 29%, #00b8f4 100%);
    background: -webkit-linear-gradient(left, #0084ea 29%,#00b8f4 100%);
    background: linear-gradient(to right, #0084ea 29%,#00b8f4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0084ea', endColorstr='#00b8f4',GradientType=1 );
    border: 0;
  color: #fff;
}
.btn-secondary{
  background: #dedc00; /* Old browsers */
  background: -moz-linear-gradient(left,  #dedc00 5%, #52ae32 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #dedc00 5%,#52ae32 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #dedc00 5%,#52ae32 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dedc00', endColorstr='#52ae32',GradientType=1 ); /* IE6-9 */
  border: 0;
  color: #fff;
}
.btn-secondary:focus, .btn-secondary:hover, .btn-primary:focus, .btn-primary:hover{
   background: #ffdd00; /* Old browsers */
  background: -moz-linear-gradient(left,  #ffdd00 5%, #e30613 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #ffdd00 5%,#e30613 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #ffdd00 5%,#e30613 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffdd00', endColorstr='#e30613',GradientType=1 ); /* IE6-9 */
  border: 0;
  color: #fff;
}
.modal-content{
  border:2px solid #0084ea;
}
.menusup{
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#003da3+0,003da3+96,00abf7+100 */
  background: #003da3; /* Old browsers */
  background: -moz-linear-gradient(top,  #003da3 0%, #003da3 94%, #00abf7 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #003da3 0%,#003da3 94%,#00abf7 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #003da3 0%,#003da3 94%,#00abf7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003da3', endColorstr='#00abf7',GradientType=0 ); /* IE6-9 */
  padding: 5px 0 3px;
  width: 100%;
}
.logo{
	display: inline-block;
}
/* buscador */
.buscador{
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#db0715+0,ffd800+100 */
  background: #db0715; /* Old browsers */
  background: -moz-linear-gradient(left,  #db0715 0%, #ffd800 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #db0715 0%,#ffd800 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #db0715 0%,#ffd800 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#db0715', endColorstr='#ffd800',GradientType=1 ); /* IE6-9 */
  padding: 2px;
  border-radius: 20px;
  position: relative;
  margin: 16px 0 0;
}

#search-form {
  width: 95%;
}
#search-form input {
  width: 100%;
  font-size: 1.5rem;
  padding: 5px 15px;
  border-radius: 20px;
  border:0; 
}
#search-form input::placeholder {
	color: #b5b5b5;
	font-family: 'Nunito', sans-serif;
 font-style: italic;
 font-size: 12px;
}
#search-form input:hover, #search-form input:focus {
	outline: none;
}
#search-form .voiceicon {
  position: absolute;
  top: 0;
  right: -37px;
  bottom: 0;
  background-color: transparent;
  outline: none;
  border: none;
  text-align: center;
  font-size: 3rem;
  cursor: pointer;
  color: #fff;
}
#search-form .voiceicon:hover {
  color: #00b8ef;
}
.busca{
 position: absolute;
 top: 4px;
 right: 6px;
 bottom: 0;
 text-align: center;
 background-color: transparent;
 outline: none;
 border: none;
 text-align: center;
 font-size: 1.6rem;
 cursor: pointer;
 color: #fff;
 width: 28px;
 height: 28px;
 border-radius: 50%;
 padding: 5px 0;
 /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#00b5fa+0,0089ff+100 */
 background: #00b5fa; /* Old browsers */
 background: -moz-linear-gradient(left,  #00b5fa 0%, #0089ff 100%); /* FF3.6-15 */
 background: -webkit-linear-gradient(left,  #00b5fa 0%,#0089ff 100%); /* Chrome10-25,Safari5.1-6 */
 background: linear-gradient(to right,  #00b5fa 0%,#0089ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b5fa', endColorstr='#0089ff',GradientType=1 ); /* IE6-9 */
}
.busca:hover{
  text-decoration: none;
}
/* fin buscador */
.list-menusup{
  list-style: none;
  text-align: right;
  width: 100%;
  margin: 16px 0 0 10px;
}
.list-menusup li{
  display: inline-block;
  width: 19%;
  text-align: center;
}
.list-menusup li a{
  color: #fff;
  font-size: 3rem;
  display: block;
  line-height: 0;
  position: relative;
}
.list-menusup li a p{
  position: absolute;
  color: #fff;
  font-size: 12px;
  margin: 4px;
  bottom: -12px;
  display: none;
  width: 100%;
  text-align: center;
}
.list-menusup li a:hover {
  color: #00b8ef;
}
.list-menusup li a:hover p{
  display: block;
  color: #00b8ef;
}
.bolsa{
  width: 30px;
  display: block;
  position: relative;
  margin-left: 20%; 
}
.bolsa span{
  display: block;
  font-size: 9px;
  position: absolute;
  top:-10px; 
  right:-15px;
  background: red;
  width: 18px;
  height:18px;
  overflow: hidden;
  border-radius: 50%;
  padding: 9px 0;
  text-align: center;
  line-height: 0; 
  color: #fff;
}
#header{
	background:#fff;
	width:100%;
  padding:0;
  position:relative
}
#header:after{
	content:"";
	clear:both;
	display:block
}

nav>ul{
  font-size: 16px;
  width: 100%;
  padding: 0;
  margin: 0 auto 
  display: block;
  text-align: center;
}
nav li{
	list-style:none;
	display: inline-block;
}
nav li a{
	display: block;
	padding: 15px 14px 5px;
  color: #00a3e3;
  font-size: 15px;
  text-align: left;
}
.bolita{
	display: inline-block;
	width: 10px;
	height: 10px;
  border-radius: 50%;
  margin: 0 5px 0 0;
}
.col1{
  background: #bfe2e0; /* Old browsers */
  background: -moz-linear-gradient(left,  #bfe2e0 4%, #00ab97 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #bfe2e0 4%,#00ab97 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #bfe2e0 4%,#00ab97 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfe2e0', endColorstr='#00ab97',GradientType=1 ); /* IE6-9 */

}
.col2{
  background: #f6b2b6; /* Old browsers */
  background: -moz-linear-gradient(left,  #f6b2b6 4%, #9c1981 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #f6b2b6 4%,#9c1981 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #f6b2b6 4%,#9c1981 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6b2b6', endColorstr='#9c1981',GradientType=1 ); /* IE6-9 */
  /
}
.col3{
  background: #ffdd00; /* Old browsers */
  background: -moz-linear-gradient(left,  #ffdd00 5%, #e30613 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #ffdd00 5%,#e30613 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #ffdd00 5%,#e30613 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffdd00', endColorstr='#e30613',GradientType=1 ); /* IE6-9 */
}
.col4{
  background: #dedc00; /* Old browsers */
  background: -moz-linear-gradient(left,  #dedc00 5%, #52ae32 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #dedc00 5%,#52ae32 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #dedc00 5%,#52ae32 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dedc00', endColorstr='#52ae32',GradientType=1 ); /* IE6-9 */

}
.col5{
  background: #f7bcbb; /* Old browsers */
  background: -moz-linear-gradient(left,  #f7bcbb 0%, #ea5284 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #f7bcbb 0%,#ea5284 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #f7bcbb 0%,#ea5284 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7bcbb', endColorstr='#ea5284',GradientType=1 ); /* IE6-9 */

}
.col6{
  background: #ff8878; /* Old browsers */
  background: -moz-linear-gradient(left,  #ff8878 0%, #8b1038 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #ff8878 0%,#8b1038 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #ff8878 0%,#8b1038 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8878', endColorstr='#8b1038',GradientType=1 ); /* IE6-9 */

}
.col7{
  background: #f7b49a; /* Old browsers */
  background: -moz-linear-gradient(left,  #f7b49a 0%, #e30613 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #f7b49a 0%,#e30613 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #f7b49a 0%,#e30613 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7b49a', endColorstr='#e30613',GradientType=1 ); /* IE6-9 */

}
.col8{
  background: #f5f1a7; /* Old browsers */
  background: -moz-linear-gradient(left,  #f5f1a7 0%, #86bc25 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #f5f1a7 0%,#86bc25 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #f5f1a7 0%,#86bc25 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f1a7', endColorstr='#86bc25',GradientType=1 ); /* IE6-9 */

}
.col9{
  background: #fad2c6; /* Old browsers */
  background: -moz-linear-gradient(left,  #fad2c6 0%, #c40e91 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #fad2c6 0%,#c40e91 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #fad2c6 0%,#c40e91 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fad2c6', endColorstr='#c40e91',GradientType=1 ); /* IE6-9 */
}

nav li a:hover{
  color: #00a3e3;
}

nav li ul{
	display:none
}
nav li:hover ul{
	display:inline
}
nav li li{
  float:none;
  display: block;
  width: 100%;
}

nav ul li .mega-dropdown{
  float: left;
  width:100%;
  top:99%;
  left:0;
  position:absolute;
  background:#fff;
  overflow:hidden;
  padding:20px 35px;
  -webkit-box-shadow: 0 0 4px 0 #8f8f8f;
  box-shadow: 0 0 4px 0 #8f8f8f;
  border-radius: 3px;
  z-index: 16;
}

.mega-col {
  width:33.33333333%;
  float:left;
  margin-left: 0 !important;
  padding-left: 0 !important;
}

nav .mega-dropdown .icon-submenu{
  display: block;
  text-align: center;
  margin: 10px auto;
}
nav .mega-dropdown .icon-submenu img{
  width: 30px;
  display: block;
  margin: 0 auto;
}
nav .mega-dropdown .icon-submenu h2{
  font-size: 14px;
  color: #0eafe5;
  margin: 6px auto;
}

nav li li a{
  float:none;
  color:#7a869c;
  display:block;
  padding:8px 2px;
  border-radius:3px;
  font-size:13px;
  letter-spacing:-0.5px;
}
.oferta{
  color: #013b84;
  font-weight: 800;
}
.oferta:hover{
  color: #c40e91;
}
nav li li a .line{ 
 display: block;
 width: 20%;
 opacity: 0;
 height: 2px;
 transition: all 1s;
}
nav li li a:hover{
 color:#7a869c;
}
nav li li a:hover .line{ 
  display: block;
  width: 20%;
  opacity: 1;
  height: 2px;
}
#menu-icon{
  position:fixed;
  right:0;
  margin-right:0px;
  display:none;
  background: #00a3e3;
  padding:10px 15px 5px;
  z-index: 14;
}
#menu-icon span{
  border:2px solid #fff;
  width:25px;
  margin-bottom:5px;
  display:block;-webkit-transition:all .2s;transition:all .1s
}
/* fin menu */
.blue-hr{
  border-top: .1px solid #42bdff;
}
.titulo-home{
  font-size: 28px;
  color: #023fa0;
  margin: 25px 0;
}
.bckblue {
  background: #0084ea; /* Old browsers */
  background: -moz-linear-gradient(left,  #0084ea 29%, #00b8f4 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #0084ea 29%,#00b8f4 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #0084ea 29%,#00b8f4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0084ea', endColorstr='#00b8f4',GradientType=1 ); /* IE6-9 */
}

.box-blue-product {
  display: block;
  border-radius: 8px;
  padding:2px;
  position: relative !important;
  margin: 20px 0 0;
}
.box-conte-product {
  padding: 5px;
  -webkit-border-radius: 8px 8px 0 0;
  border-radius: 8px 8px 0 0;
  background: #fff;
  display: block;
}
.porcent-product{
  width: 55px;
  height: 55px;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  font-size: 20px;
  display: block;
  font-weight: 600;
  padding: 13px 0;
  z-index: 14;
  position: absolute;
  top: -10px;
  left: 40%;
}
/* flotantes IVA, "2x1", Fórmula médica */
.dosporuno{
  position: absolute;
  top: 40px;
  z-index: 12;
  color: #fff;
  padding: 5px 5px 5px 10px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px; 
}
.fmd{
  font-size: 11px;
  float: left;
  position: absolute;
  margin-top: -15px;
  font-family: 'Open Sans', sans-serif;
  left: 15px;
}                
.iva{
  color: #fff;
  font-size: 11px;
  line-height: 1;
  border-radius: 3px;
  display: inline-block;
  text-align: center;
  float: right;
  margin-top: -30px;
  position: absolute;
  right: 15px;
  padding: 3px 7px;
}
.espacefinal{
  display: block;
  height: 20px;
  margin: 2px 1px 20px;
  font-size: 12px;
}
/* fin flotantes */
.box-img-product{
  padding: 15px; 
  padding-bottom: 0;
}
.box-img-product img, .box-img-product2 img{
  display: block;
  margin: 0 auto;
  width: 90%;
  height: auto;
}
.box-img-product2 {
  padding: 15px;
  display: table;
}
.box-img-product2 div{
  display: table-cell;
  vertical-align: middle;
  margin: 0 auto;
  width: 90%;
  height: auto;
}
.line-green{
  width: 90%;
  display: block;
  margin: 2px auto;
  height: 2px;
}
.info-product{
  font-family: 'Open Sans', sans-serif;
  padding: 5px 0;
  padding-bottom: 0;
}
.info-product .nombre-product{
  display: block;
  height: 32px;
  width: 100%;
  overflow: hidden;
  color: #003da3;
  font-size: 14px;
  line-height: 1.1;
  text-align: center;
  font-weight: 700;
  margin: 0 auto;
}
.info-product .descrip-product{
  display: block;
  height: 14px;
  width: 100%;
  overflow: hidden;
  color: #606060;
  font-size: 12px;
  line-height: 1.1;
  text-align: center;
  margin: 0px auto;
}
.p-online {
  display: block;
  color: #5baf31;
  font-size: 13px;
  margin: 4px auto;
}
.antes-ahora{
  height: 50px;
  padding: 0;
  margin: 0;
}
.antes {
  display: block;
  color: #ff0003;
  text-align: right;
  padding: 5px 0;
  margin: 5px 0;
}
.antes .antes-product {
  font-size: 12px;
  margin: 0 8px;
  line-height: 1;
}
.antes .prec-antes-prodyct {
  font-size:13px;
  margin: 0 8px;
  line-height: 1;
}
.line-bb {
  border-left: 2px solid #0084ea;
}
.ahora {
  margin: 5px 8px;
  color: #003da3;
  font-weight: 700;
}
.ahora .ahora-product {
  font-size: 16px;
  margin: 0 8px;
  line-height: 1;
}
.ahora .prec-ahora-prodyct{
  font-size: 18px;
  margin: 0;
  line-height: 1;
}
/* boton + y - */
.sumar {
  padding: 10px 10px 2px;
  text-align: center;
  height: 56px;
}
.sumar .btn-agrega{
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
  color: #fff;
  font-size: 21px;
  font-weight: 700;
  background: transparent;
  border: none;
}
.number-input-home {
  display: inline-block;
  margin: 0 5px;
}
.number-input-home .quantity{
  width: 35px;
  padding: 0 ;
  vertical-align: top;
  text-align: center;
  outline: none;
  background: transparent;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  border: none;
}
.quantity[type="number"]::-webkit-inner-spin-button,
.quantity[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.quantity[type=number] {
  -moz-appearance:textfield;
}

.quantity,
.btn-minus,
.btn-plus{
  border: none;
  height: 40px;
  user-select: none;
}

.btn-minus,
.btn-plus {
  display: inline-block;
  width: 20px;
  line-height: 38px;
  background: transparent;
  color: #fff;
  text-align: center;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
}

/**/
.box-gris{
  background: #f0f1f3;
  padding: 30px 0;
}
/* productos 2*/
.box-conte-product2 {
  padding: 5px;
  -webkit-border-radius: 8px;
  background: #fff;
  display: block;
}
.porcent-product2 {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  font-size: 20px;
  display: block;
  font-weight: 600;
  padding: 13px 0;
  z-index: 999999;
  position: absolute;
  top: -10px;
  left: 45.1%;
}
.line-green2 {
  width: 2px;
  height: 160px;
  display: block;
  margin: 2px auto;
}
/* + - */
.sumar2 {
  padding: 10px 10px 2px;
  text-align: center;
}
.sumar2 .btn-agrega2{
  font-family: 'Open Sans', sans-serif;
  display: block;
  color: #013b84;
  font-size: 21px;
  font-weight: 700;
  background: transparent;
  border: none;
  text-align: center;
  margin: 0 auto;
}
.number-input-home2 {
  border:1px solid #e6e6e6;
  display: inline-block;
  border-radius: 8px;
  padding: 0 5px;
  margin: 5px 0;
}
.number-input-home2 .quantity2{
  width: 40px;
  padding: 0 ;
  vertical-align: top;
  text-align: center;
  outline: none;
  background: transparent;
  color: #7a879d;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  border: none;
}
.quantity2[type="number"]::-webkit-inner-spin-button,
.quantity2[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.quantity2,
.btn-minus2, .btn-minus3,
.btn-plus2, .btn-plus3 {
  border: none;
  height: 40px;
  user-select: none;
}
.btn-minus2, .btn-minus3,
.btn-plus2, .btn-plus3 {
  display: inline-block;
  width: 30px;
  line-height: 38px;
  background: transparent;
  color: #0f0f0f;
  text-align: center;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.line-gg{
  border-left: 2px solid #0085f7;
}
/**/
.consejos{
  margin: 50px 0;
}
.box-blog {
  display: block;
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
}
.pre-box-blue-foot{
  padding: 15px;
  display: block;
  width: 100%;
  background: #0085f7;
  margin-top: 35px;
}
.box-blue-foot {
  background: #003da3;
  padding-top: 20px;
}
/* foot */
.menu-foot h2{
 font-family: 'Open Sans', sans-serif;
 font-size: 14px;
 color: #fff;
 font-weight: 700;
}
.menu-foot ul{
  padding: 0;
  margin: 24px 0;
  font-size: 12px;
}
.menu-foot ul li{
  margin: 1px 0;
}
.menu-foot ul li a{
  color: #fff;
}
.info-foot p{
  color: #fff;
  font-size: 13px;
  text-align: right;
  font-weight: 300;
  margin-right: 20px;
}
.info-foot p span{
  font-weight: 600;
} 
.box-pagos-foot {
  margin: 0;
  padding: 20px 20px 2px;
  color: #fff;
  font-size: 21px;
  -webkit-border-radius: 0 10px 0 0;
  border-radius: 0 50px 0 0;
}
.box-pagos-foot p{
  display: inline-block;
}
.box-pagos-foot span{
  font-weight: 700;
}
.box-pagos-foot ul{
  padding: 0;
  display: inline-block;
  float: right;
  margin: 0 10px;
}
.box-pagos-foot ul li{
  display: inline-block;
  margin: 5px;  
}
/* redes */
.redes-foot {
  padding: 0;
  text-align: right;
}
.redes-foot li{
  display: inline-block;
}
.redes-foot li a{
  color: #fff;
  font-size: 30px;
  margin: 5px 10px;
}
/* interna detalle */
.box-gris-interna{
  background: #f0f1f3;
  padding: 30px;
}
.list-mapa-int {
  padding: 0;
}
.list-mapa-int li{
  display: inline-block;
  color: #7a869c;
  margin: 0 5px;
}
.list-mapa-int li a{
  color: #7a869c;
}
.box-cont-interna{
  display: block;
  background: #fff;
  border-radius: 8px;
  margin: 20px 0;
  width: 100%;
  padding: 30px;
}
.bton {
  width: auto;
  display: inline-block;
  padding: 5px 15px;
  color: #fff;
  border-radius: 7px;
}
.titulo-detalle{
  font-size: 24px;
  color: #013b84;
  font-weight: 900;
  margin-bottom: 0;
}
.ref{
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 15px;
}
.ref span{
 color: #013b84;
 font-weight: 600;
}
.precio-detalle {
  margin: 10px 0;
}
.precio-detalle .ahora-detalle, .precio-detalle .antes-detalle {
  display: inline-block;
  margin: 0;
}
.precio-detalle .ahora-detalle{
  font-size: 25px;
  color: #e76018;
  font-weight: 700;
  margin-right: 10px;
}
.precio-detalle .antes-detalle {
  display: inline-block;
  color: #10b2e9;
  font-size: 15px;
}
.box-detalle-info{
  border: 1px solid #e6e6e6;
  border-radius: 8px;
  padding: 20px;
}
.form-detalle label{
  color: #013b84;
  margin-top: 10px;
}
.form-detalle .numer2{
  border: 1px solid #e6e6e6;
  padding: 10px;
  border-radius: 8px;
  height: 43px;
  width: 115px;
  background: #fff;
}
.boton {
  color: #fff;
  padding: 15px 25px ;
}
.boton:hover {
  color: #fff;
  background: #bc0911; /* Old browsers */
  background: -moz-linear-gradient(left,  #bc0911 1%, #e0a227 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #bc0911 1%,#e0a227 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #bc0911 1%,#e0a227 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bc0911', endColorstr='#e0a227',GradientType=1 ); /* IE6-9 */
}
.circle-heard{
  border: 1px solid #e6e6e6;
  width: 45px;
  height: 45px;
  display: block;
  text-align: center;
  border-radius: 50%;
  padding: 14px 0;
  margin: 5px 0;
}
.cora:hover .circle-heard, .cora:focus .circle-heard{
  color: #fff;
  background: #e2b9b8; /* Old browsers */
  background: -moz-linear-gradient(left,  #e2b9b8 28%, #c76486 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #e2b9b8 28%,#c76486 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #e2b9b8 28%,#c76486 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2b9b8', endColorstr='#c76486',GradientType=1 ); /* IE6-9 */
}
.tlistcaract{
  display: inline-block;
  color: #00b3ff;
  font-size: 18px;
  border-bottom: 2px solid #00b3ff;
  margin: 10px 40px;
  padding: 10px;
}
.descrip {
  color: #7a869c;
  margin: 20px 0;
}
/* carrito*/
.carro{
  vertical-align: middle !important;
}
.conte {
  margin: 0 10px 0 5px;
}
.conte a{
  font-size: 13px;
  color: #7a879d;
  display: block;
  line-height: 1;
}
.car-titu{
  color: #003da3;
  font-size: 13px;
  font-weight: 600;
}
.carro input[type="number"]{
  border:1px solid #e6e6e6;
  border-top-left-radius:8px;
  border-bottom-left-radius:8px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width:60px; /*ancho por defecto*/
  background: #fff;
  margin: 0;
  display: inline-block;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 9px;
  height: 37px;
}
.btn-actu {
  margin: 0 0 0 -5px;
  color: #fff;
  padding: 7px 8px;
  border: 0;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border:1px solid #e6e6e6;
}
.btn-actu i{
  margin-top: 3px;
  display: inline-block;
}
.itemimg{
  padding: 8px
}
.delet{
  display: block;
  margin: 0 auto;
  font-size: 12px;
  color: #cccccc;
  left: -10px;
  top: 40%;
  z-index: 9999;
}
.car-text {
  color:#7a869c;
}
.totalcar{
  background: #f7f7f7;
  /*position: fixed;*/
  padding: 10px;
}
.totalcar h2{
  color: #023fa0;
  font-size: 24px;
  margin:23px 10px;
}
.tiazul{
  color: #003da3;
  font-size: 14px;
  font-weight: 600;
}
.textgris{
  color:#7a869c;
  font-size: 13px;
  font-weight: 600;
}
.tablesubtotal {
  width: 100%;
}
.tablesubtotal tr, .carro td{
  border-bottom: 1px solid #e6e6e6;
  padding: 15px 0;
}
.tablesubtotal tr td{
  padding: 15px 0;
}
.totaln{
  font-size: 20px;
   color: #003da3;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
.total2{
  font-size: 19px;
  color: #e76018;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
.cod{
  display: block;
  border-radius: 0;
  padding: 11px 15px;
  background-color: #E5E5E5;
  border: none;
  font-size: 16px;
  font-family: 'Myriad Pro Light';
  outline: none;
  width: 250px;
}
.btn-cod{
 border-top-right-radius:20px;
 border-bottom-right-radius:20px;
 background-color: #f0047f;
 color: #fff;
 font-size: 16px;
 padding: 10px 15px;
 font-family: 'Myriad Pro Condensed';
}
.fcod{
  display: block;
  margin: 20px 0;
}
.fcod label{
  font-size: 13px;
  color: #5caf31;
  font-weight: 700;
  margin: 0 8px;
}
.fcod input{
  border: 1px solid #e6e6e6;
  border-radius: 8px;
  width: 260px;
  height: 45px;
  padding: 8px;
  margin: 0 8px;
}
.fcod button{
  height: 45px;
  color: #fff;
  margin: 0 8px;
}
.fcod button:hover, .fcod button:focus{
  color: #fff;
  background: #bc0911; /* Old browsers */
  background: -moz-linear-gradient(left,  #bc0911 1%, #e0a227 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #bc0911 1%,#e0a227 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #bc0911 1%,#e0a227 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bc0911', endColorstr='#e0a227',GradientType=1 ); /* IE6-9 */
}
/* busqueda*/
.box-busqueda {

}
.titulobusq{
  color: #7a869c;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 15px;
  display: block;
}
.titulobusq span{
  color: #5caf31;
}
.hr-bn{
  border-top: .5px solid #fff;
}
.box-todo{
  display: block;
  background: #fff;
  border-radius: 8px;
  width: 100%;
  padding: 10px 20px;
}
.box-todo p{
  display: block;
  color: #023fa0;
  font-size: 24px;
  line-height: 1;
  margin:7px 0 -10px;
}
.filtross a, .filtross i{
  color: #7a869c;
  font-size: 16px;
}
.filtrar {
  background: #f0f1f3;
  height: 130px;
  overflow-y: scroll;
  padding: 5px;
  font-size: 12px;
  color: #7a869c;
  border-radius: 3px;
  right: 
}
.filtrar li{
  margin: 8px 0;
}
.filtrar::-webkit-scrollbar {
  width: 8px;     /* Tamaño del scroll en vertical */
  height: 8px;    /* Tamaño del scroll en horizontal */
}
/* Ponemos un color de fondo y redondeamos las esquinas del track */
.filtrar::-webkit-scrollbar{
  background: #e1e1e1;
  border-radius: 4px;
}

/* Cambiamos el fondo cuando esté en active o hover */
.filtrar::-webkit-scrollbar:hover,
.filtrar::-webkit-scrollbar:active {
  background: #00b5fa;
}
.contfiltro{
  display: block;
  margin: 35px 10px;
}
.espcbtn{
  margin: 20px 8px;
}
/* nosotros*/
.img-int {
  width: 100%;
  height: 450px;
  margin: 20px auto;
  display: block;
  border-radius: 15px;
  background: url(../img/nosotrs1.jpg);
  background-size: cover;
  background-position: center;
}

.tituint {
  font-size: 24px;
  color: #023fa0;
  margin: 25px 0;
  display: block;
}
.textint, .textInt {
  color: #7a869c;
  font-size: 13px;
}
#cont1 {
  background: url(../img/nosotrs2.jpg) fixed;
  max-height: 100%;
  height: 210px;
  position: relative;
  margin: 0 auto;
  background-size: 100%;
}
.parallax1 {
  background-color: rgba(0, 0, 0, 0.8);
  height: 210px;
}
.parallax1 img{
  margin: 9% 20px ;
  float: right;
}
.espc{
  display: block;
  padding: 30px;
  width: 100%;
}
.espc2{
  display: block;
  padding: 20px;
  width: 100%;
}
.firma {
  display: block;
  max-width: 300px;
  height: auto;
  margin: 0 auto -80px;
}
/* tiendas*/
.box-internas-int{
  margin: 20px 0;
  display: block;
  padding: 20px 10px;
}
.byn-tiend {
  color: #fff;
  height: 45px;
}
.formtin input, .formtin select{
  background: transparent;
  border: 1px solid #e6e6e6;
  width: 100%;
  height: 45px;
  padding: 0 30px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

/* tiendas ==========*/
.btn-list {
  padding: 8px 0 20px;
  display: inline-block;
}
.btn-list a{
  color: #666666;
  margin: 0 10px;
  font-size: 16px;
}
.btn-list a i{
  font-size: 16px;
  color:#00b5fa;
  margin-right: 8px;
}
.btn-list a:hover i, .btn-list a:focus i{
  color: #5caf31;
}
.btn-list a:hover, .btn-list a:focus {
  color: #5caf31;
}
.box-tiendas{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
  overflow: hidden;
}
.box-tiendas .box-img{
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-bottom: 2px solid #5caf31;
}
.box-tiendas .box-img img{
  width: 100%;
}
.box-interna{
  margin: 10px;
  padding: 10px;
}
.box-interna h3, .box-tiendasint h3{
  font-size: 18px;
  color: #023fa0;
  font-weight: 600;
  margin: 0;
}
.box-interna h4, .box-tiendasint h4{
  font-size: 12px;
  font-weight: 300;
  margin: 3px 0px 5px;
  color: #999999;
}
.text-alto {
  color: #7a869c;
  display: block;
  margin: 1px;
  max-height: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.list-group-item-text .ver{
  display: none;
  color: #7a869c;
}
/* Lista======*/
.item{
  background: transparent;
  border: none;
}
.item.list-group-item{
  float: none;
  width: 100%;
  margin: 0 auto;
}
.item.list-group-item .box-tiendas{
  padding: 10px;
}
.item.list-group-item .box-tiendas .box-img{
  width: 43%;
  height: 265px;
  float: left;
}
.item.list-group-item .box-tiendas img{
  float: left;
}
.item.list-group-item .box-interna{
  float: right;
  display: inline-block;
  width: 53%;
  margin: 0;
}
.item.list-group-item .text-alto{
  width: 100%;
}

.item.list-group-item .ver {
  display: block;
  margin: 15px auto;
}
.item.list-group-item .ver-mas{
  margin-top: 80%;
  float: right;
}
.item.list-group-item .cont{
  padding: 10px;
}
.box-tienda2 {
  margin: 30px 0;
}
.direct{
  text-align: center;
  font-size: 16px;
  background-color: #0AA0C6;
  padding: 10px;
  color: #fff;
  border-radius: 10px;
}
.direct p{
  margin-top: 15px;
}
.text-tienda{
  background-color: #fff;
  padding: 19px ;
  color: #7a869c;
  margin-bottom: 20px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.box-tienda2 img{
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.box-login{
  width: 100%;
  height: 100vh;
}
.logoloig{
  margin: 25% auto 10px;
}
.bloq-login {
  width: 100%;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  padding: 20px;
  margin: 15px auto;
  background: rgba(0, 0, 0, 0.1);
}
.formlogin{
  display: block;
  width: 70%;
  margin: 40px auto
}
.formlogin input[type=text], .formlogin input[type=password] {
  border-radius: 8px;
  height: 40px;
  border: 1px solid #e6e6e6;
  background: transparent;
  color: #fff;
  margin: 20px 0;
}
.formlogin input::placeholder{
  color: #fff;
}
.formlogin .checkbox label{
  color: #fff;
}
.formlogin button{
  width: 60%;
  margin: 0 auto;
  border: 0;
  color: #fff;
}
.formlogin button:hover{
  color: #fff;
  background: #bc0911; /* Old browsers */
  background: -moz-linear-gradient(left,  #bc0911 1%, #e0a227 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #bc0911 1%,#e0a227 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #bc0911 1%,#e0a227 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bc0911', endColorstr='#e0a227',GradientType=1 ); /* IE6-9 */
}
.btcontra {
  color: #fff;
  text-align: center;
  background: transparent;
  border: 0;
  margin: 0 auto;
  display: block;
}
.copy {
  position: fixed;
  bottom: 10px;
  text-align: center;
  display: block;
  margin: 0 auto;
  left: 47%;
  color:#fff;
}
/* contactanos */
.img-contac {
  width: 100%;
  height: 200px;
  margin: 20px auto;
  display: block;
  border-radius: 15px;
  background: url(../img/contact.jpg);
  background-size: cover;
  background-position: center;
}
.form-contact {
  padding: 10px;
}
.form-contact input, .form-contact select{
  border: 0;
  height: 40px;
  background: #fff;
  width: 100%;
  padding: 0 10px;
  border-radius: 8px;
}
.form-contact input[type=checkbox]{
  border: 0;
  height: auto;
  background: #fff;
  width: auto;
  padding: 0 10px;
  border-radius: 8px;
}
.form-contact textarea{
  border: 0;
  background: #fff;
  width: 100%;
  padding: 10px;
  border-radius: 8px;
}


.form-contact button {
  width: 60%;
  margin: 0 auto;
  border: 0;
  color: #fff;
}
.form-contact button:hover{
  color: #fff;
  background: #bc0911; /* Old browsers */
  background: -moz-linear-gradient(left,  #bc0911 1%, #e0a227 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #bc0911 1%,#e0a227 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #bc0911 1%,#e0a227 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bc0911', endColorstr='#e0a227',GradientType=1 ); /* IE6-9 */
}
/* convenios*/
.subintconv{
  font-size: 18px;
  color: #0084ea;
  font-size: 600;
}
.bloq-login {
  width: 100%;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  padding: 20px;
  margin: 15px auto;
  background: rgba(0, 0, 0, 0.1);
}
.w80pto {
  width: 80%;
  margin: 0 auto;
}
.form-cart{
  padding: 20px;
}
.form-cart input, .form-cart select, .form-cart textarea{
  border: 1px solid #e6e6e6;
  background-color: #fff;
  width: 100%;
  height: 40px;
  border-radius: 8px;
  padding: 0 8px;
}
.form-cart input[type=checkbox]{
  border: 1px solid #e6e6e6;
  background-color: #fff;
  width: auto;
  height: 10px;
}
.form-cart input[type=radio]{
  border: 1px solid #e6e6e6;
  background-color: #fff;
  width: auto;
  height: 15px;
}
.form-cart textarea{
  height: auto;
}
.form-cart select{
  color:#767676;
  font-weight: 400;
}

.form-cart label{
  color: #606060;
  font-weight: 600;
}

.tacart2 td{
  color:#767676;
  font-weight: 600;
}
.tacart2 th{
 color: #606060;
 font-weight: 700;
}
.form-cart p{
 color: #606060;
 font-weight: 600;
}
.bton-cart2{
  color: #fff;
}
.bton-cart2:hover{
  color: #fff;
  background: #ffdd00; /* Old browsers */
  background: -moz-linear-gradient(left,  #ffdd00 5%, #e30613 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #ffdd00 5%,#e30613 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #ffdd00 5%,#e30613 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffdd00', endColorstr='#e30613',GradientType=1 ); /* IE6-9 */
}
/* mi perfil*/
.tabs-perfil li a{
  color: #606060;
}
.tabs-perfil li a i{
  display: block;
  color: #606060;
}
.tabs-perfil li a:hover, .tabs-perfil li a:focus, .tabs-perfil li .active,
.tabs-perfil li a:hover i, .tabs-perfil li a:focus i, .tabs-perfil li .active i{
  color: #00b3ff;
}
.tbperfil{
  margin: 20px;
  width: 100%;
  vertical-align: middle;
}
.tbperfil th{
  color: #bac735;
  width: 20%;
  font-weight: 700;
  font-size: 16px;
}
.tbperfil td{
  color: #606060;
  font-weight: 600;
  font-size: 14px;
}
.profile-userpic {
  width: 70%;
  display: block;
  margin: 12px auto;
}
.productperfil {
  width: 70px;
  height: 70px;
  overflow: hidden;
  padding: 5px;
  display: block;
}
.productperfil img{
  width: 100%;
}
.list-internas{
  list-style: inherit;
  color: #7a869c;
  font-size: 13px;
  margin-top: 5px;
}
ol{
  color: #7a869c;
  font-size: 13px;
  margin-top: 5px;
}
.textint span{
  color: #023fa0;
  font-weight: 600;
}
.list-internas li{
  margin: 3px 0;
}
.panel-title i{
  width: 10px;
  float: right;
  margin: 0 5px;
  color: #fff;
}
.panel-title{
  border-radius: 4px;
  padding: 15px 10px;
  color: #fff;
  background: #0084ea;
  background: -moz-linear-gradient(left, #0084ea 29%, #00b8f4 100%);
  background: -webkit-linear-gradient(left, #0084ea 29%,#00b8f4 100%);
  background: linear-gradient(to right, #0084ea 29%,#00b8f4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0084ea', endColorstr='#00b8f4',GradientType=1 );
  margin: 20px 0;
}
.table-cambio {
  font-size: 12px;
}
.table-cambio td{
  padding: 10px;
  font-size: 12px;
  color: #7a869c;
}
.divcenter{
  display: block;
  margin: 0 auto;
}
.tienda2-iframe{
  width: 100%;
  height: 450px;
}

/* Estilos movil ====================================================estilos movil=================estilos movil=========estilos movil=========================*/
@media (max-width: 767px) {
  body{
    padding-bottom: 30px;
  }
  .titulo-home {
    font-size: 18px;
    color: #023fa0;
    margin: 10px 0;
  }

  .box-conte-product2 {
    padding: 0; 
    -webkit-border-radius: 8px;
    background: #fff;
    display: block;
}
  .porcent-product, .porcent-product2 {
    width:40px;
    height: 40px;
    font-size: 14px;
    padding: 10px 0;
    top: 5px;
    left: 40%;
  }
  .info-product .nombre-product {
    height: 25px;
    font-size: 10px;
    margin-top: 5px;
  }
  .info-product .descrip-product {
    height: 16px;
    font-size: 8px;
  }
  .p-online {
    font-size: 9px;
    margin: 4px auto;
  }
  .antes-ahora{
    padding: 0;
    height: 35px;
  }

  .antes {
    padding: 5px 0;
    margin: 1px 0;
  }
  .antes .prec-antes-prodyct {
    font-size: 9px;
    padding: 0;
    margin: 0 3px;
  }
  .ahora .ahora-product {
    font-size: 11px;
  }
  .antes .antes-product {
    font-size: 10px;
  }
  .ahora .prec-ahora-prodyct {
    font-size: 11px;
  }
  .margipa {
    padding: 5px 3px;
  }
  .margipa2 {
    padding: 5px;
  }
  .sumar {
    height: 78px;
  }
  .eleg{
    margin: 5px;
  }
  .sumar .btn-agrega {
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    background: transparent;
    border: none;
  }

  .box-img-product2 {
    padding: 0px !important;
    display: table;
    height: 160px;
  }
  .box-img-product2 .box-img-mobil{
    display: table-cell;
    vertical-align: middle;
    margin: 0 auto;
    height: auto;
  }
  .box-img-product2 .box-img-mobil img{
    display: block;
    margin: 0px auto;
    width: 100%;
    height: auto;
  }
  .number-input-home2 .quantity2 {
    width: 25px;
  }
  .btn-minus2, .btn-minus3, .btn-plus2, .btn-plus3 {
    width: 15px;
  }
  .sumar2 {
    margin-bottom: 5px;
  }
  .porcent-product2 {
    top: 25px;
    left: 37%;
  }
  .consejos {
    margin: 10px 0;
  }
  .consejos img{
    margin:5px 0;
  }
  .box-pagos-foot {
    margin: 0;
    padding: 20px 20px 2px;
    color: #fff;
    font-size: 21px;
    -webkit-border-radius: 0 10px 0 0;
    border-radius: 0;
  }
  .box-pagos-foot ul {
    margin: 0;
  }
  .redes-foot {
    padding: 0;
    text-align: center;
    margin: 8px 0;
  }
  /* carrito */
  .tituint {
    font-size: 18px;
    color: #023fa0;
    margin: 18px 0;
    display: block;
  }
  .box-cont-interna {
    width: 100%;
    padding: 15px;
  }
  .conte a {
    font-size: 14px;
  }
  .ref {
    font-size: 12px;
  }
  .carro{
    margin: 15px 0;
    width: 100%;
  }
  .carro th{
    text-align: center;
  }
  .fromcarro input[type="number"]{
    border:1px solid #e6e6e6;
    border-top-left-radius:8px;
    border-bottom-left-radius:8px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width:60px !important;
    background: #fff;
    margin: 0;
    display: inline-block;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 9px;
    height: 37px;
  }
  .btn-actu {
    margin: 0 0 0 -5px;
    color: #fff;
    padding: 7px 8px;
    border: 0;
    height: 37px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border:1px solid #e6e6e6;
  }
  .btn-actu i{
    margin-top: 3px;
    display: inline-block;
  }
  .totalcar{
    margin: 10px 0;
  }
  .totalcar h2 {
    color: #023fa0;
    font-size: 18px;
    margin: 18px 10px;
  }
  .form-cart {
    padding: 20px 4px;
  }
  .tacart2 th{
    font-size: 14px;
    text-align: center;
  }
  .tacart2 td{
    font-size: 12px;
    text-align: center;
  }
  .imgspc{
    margin: 5px 0;
  }
  .form-contact input{
    margin: 5px;
  }
  /* detalle*/
  .formdet-mobil {
    position: fixed;
    bottom: 0;
    z-index: 10001;
    width: 100%;
    left: 0;
  }
  .formdet-mobil .formvrd{
    background: #5aae31;
    padding:10px 5px;
  }
  .formdet-mobil .formazl{
    background: #003da3;
    padding:15px 5px;
  }
  .boton {
    color: #fff;
    padding: 8px 15px;

  }
  /* + - */
  .labilfmobil{
    color: #fff;
    font-size: 12px;
    display: inline-block;
    font-weight: 400;
  }
  .sumar-deta2{
    padding:0;
    display: inline-block;
  }
  .number-input-hom3{
    display: inline-block;
    border-radius: 4px;
    background: #fff;
    padding: 1px;
  }
  .number-input-hom3 .quantity3{
    width: 18px;
    padding: 0 ;
    vertical-align: top;
    text-align: center;
    outline: none;
    background: transparent;
    color: #7a879d;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    border: none;
  }
  .quantity3[type="number"]::-webkit-inner-spin-button,
  .quantity3[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .quantity3,
  .btn-minus4,
  .btn-plus4{
    border: none;
    height: 30px;
    user-select: none;
  }
  .btn-minus2, .btn-minus3,
  .btn-plus2, .btn-plus3 {
    display: inline-block;
    width: 30px;
    line-height: 38px;
    background: transparent;
    color: #0f0f0f;
    text-align: center;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
  }
  .circle-heard {
    border: 1px solid #e6e6e6;
    width: 30px;
    height: 30px;
    display: block;
    text-align: center;
    border-radius: 50%;
    padding: 8px 0;
    margin: 1px 0;
  }

  /**/
  .titulo-detalle {
    font-size: 18px;
    margin-top: 10px;
  }
  .precio-detalle .ahora-detalle {
    font-size: 16px;
  }
  .precio-detalle .antes-detalle {
    font-size: 12px;
  }
  .tlistcaract {
    display: block;
    color: #00b3ff;
    font-size: 18px;
    border-bottom: 2px solid #00b3ff;
    margin: 10px auto;
    padding: 10px;
    text-align: center;
  }
  .spm{
    display: block;
    margin: 8px 0;
  }
  .tabs-perfil li a {
    color: #606060;
    font-size: 11px;
  }
  .subintconv span{
    padding: 10px 0;
  }
  .icontienda {
    margin: 5px 0;
  }
  .box-tiendas {
    margin: 15px;
  }
  .sinlist{
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .logo{
    width: 80%;
    display: block;
    margin-top: 4px;
  }
  .buscador{
    margin: 10px 0 0;
  }
  .list-menusup{
    padding: 0;
    text-align: center;
    width: 100%;
    margin: 13px 0;
  }
  .list-menusup li{
    width: 18%;
    text-align: center;
  }
  .list-menusup li a{
    font-size: 3rem;
  }
  .bolsa{
    width: 25px;
    margin-left: 0; 
  }
  /* fin menu sup azul */

  /* menu */
  nav{
    display:none;
    width:100%;
    clear:both;
    float:none;
    max-height:400px;
    overflow-y:scroll
  }
  #menu-icon{
    display:inline;
    top:80px;
    cursor:pointer
  }
  #menu-icon.active .first{
    transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    margin-top:10px
  }
  #menu-icon.active .second{
    transform:rotate(135deg);
    -webkit-transform:rotate(135deg);
    position:relative;top:-9px;
  }
  #menu-icon.active .third{
    display:none
  }
  nav{
    padding:30px}
    nav ul{float:none}
    nav li{float:none}
    nav ul li a{
      float:none;
      padding:8px;
      display:block
    }
    #header nav ul ul{
      display:block;
      position:static;
      background:none;
      border:none;
      padding:0 20px;
    }
    #header nav a{
      padding:8px 20px;
    }
    nav ul li .mega-dropdown{
      width:100%;
      padding:20px;
    }

    /* productos home */
    .titulo-home {
      font-size: 24px;
      color: #023fa0;
      margin: 20px 0;
    }
    .porcent-product {
      width: 45px;
      height: 45px;
      font-size: 14px;
      padding: 13px 0;
      left: 40%;
    }
    .info-product .nombre-product {
      height: 28px;
      font-size: 12px;
    }
    .info-product .descrip-product {
      height: 10px;
      font-size: 10px;
    }
    .p-online {
      font-size: 12px;
    }
    .antes .antes-product {
      font-size: 10px;
    }
    .antes .prec-antes-prodyct {
      font-size: 12px;
      margin: 0;
      line-height: 1;
    }
    .margipa {
      padding: 3px;
    }
    .ahora .ahora-product {
      font-size: 12px;
    }
    .ahora .prec-ahora-prodyct {
      font-size: 13px;
    }
    .sumar {
      display: block;
      margin: 0 5px;
    }
    .sumar .btn-agrega {
      font-size: 16px;
    }
    .btn-minus, .btn-plus,  {
      font-size: 16px;
    }
    .number-input-home .quantity {
      font-size: 16px;
    }
    /* productos 2*/
    .box-conte-product2 {
      padding: 5px;
      -webkit-border-radius: 8px;
      background: #fff;
      display: block;
    }
    .porcent-product2 {
     width: 45px;
     height: 45px;
     font-size: 14px;
     padding: 13px 0;
     left: 45.1%;
   }
   .line-green2 {
    height: 100px;
  }

  .sumar2 {
    padding: 1px 5px;
  }
  .input-number2 {
    font-size: 20px;
  }
  .ahora .ahora-product {
    font-size: 16px;
  }
  .antes .prec-antes-prodyct {
    font-size: 12px;
  }
  .ahora .prec-ahora-prodyct {
    font-size: 12px;
  }

  /* detalle */
  .titulo-detalle {
    font-size:18px;
  }
  .box-detalle-info {
    padding: 10px ;
  }
  .boton {
    padding: 10px;
    font-size:16px;
  }
  .circle-heard {
    margin: 0 0;
  }
  .img-int {
    height: 280px;
  }
  .item{
    margin-bottom: 20px;
  }
  .item.list-group-item .ver-mas {
    margin-top: 90%;
    float: right;
    font-size: 12px;
    padding: 10px;
  }
  .text-alto, .ver {
    font-size: 12px;
  }
  .table-cambio {
    font-size: 12px;
  }
  .sumarcat{
    height: 80px;
  }

}

@media (min-width: 992px) and (max-width: 1024px){
 .logo{
  width: 80%;
  display: block;
  margin: 1px auto 2px;
}
.buscador{
  margin: 14px 0 0;
}
.list-menusup{
  padding: 0;
  text-align: right;
  width: 100%;
  margin: 16px 0;
}
.list-menusup li{
  width: 18%;
  text-align: center;
}
.list-menusup li a{
  font-size: 3rem;
}
.bolsa{
  width: 25px;
  margin-left: 0; 
}

nav li a{
  float:left;
  padding: 15px 7px 5px;
  color: #00a3e3;
  font-size: 12px;
}

.ahora .ahora-product {
  font-size: 16px;
}
.antes .prec-antes-prodyct {
  font-size: 13px;
}
.ahora .prec-ahora-prodyct {
  font-size: 14px;
}
.boton {
  padding: 10px;
  font-size: 16px;
}
.form-detalle label {
  font-size: 11px;
}
.tienda2-iframe{
  width: 100%;
  height: 300px;
}
.sumarcat{
  height: 80px;
}
}
@media (min-width: 1024px) and (max-width: 1366px){
  nav li a {
    padding: 15px 7px 5px;
  }
}
.container-fluid{
  max-width: 1600px;
  margin: 0 auto;
}
nav ul{
  max-width: 1600px;
  margin: 0 auto;
  display: block;
}
}
@media (min-width: 2001px) and (max-width: 2500px){
  .container-fluid{
    max-width: 1600px;
    margin: 0 auto;
  }
  nav ul{
    max-width: 1600px;
    margin: 0 auto;
    display: block;
  }

}
@media (min-width: 2501px){
  .container-fluid{
    max-width: 1600px; 
    margin: 0 auto;
  }
  nav ul{
    max-width: 1600px;
    text-align: center;
    margin: 0 auto;
    display: block;
  }
}